:root {
	font-family: Nunito, sans-serif;
	color: #666666;
}

body {
	font-family: Nunito, sans-serif;
	color: #666666;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(180, 200, 255, 0.8), rgba(255, 255, 255, 0.9)),
		url('../assets/ben-kitching-QXcVpzt6pq0-unsplash.jpg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.text-h1 {
		font-size: 4em;
		font-weight: bold;
	}

	.text-h3 {
		font-size: 2em;
		font-weight: bold;
	}

	.h-fit {
		height: fit-content;
	}

	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.blue-link {
		@apply transition-all;
		@apply duration-200;
		@apply hover:text-blue-primary;
		@apply hover:transform;
		@apply hover:scale-110;
		@apply active:scale-105; 
		@apply active:translate-y-0.5;
	}

	.shadow-all {
		@apply shadow;
		@apply hover:shadow-lg;
		@apply active:shadow-md;
	}

	.text-gray-default {
		color: #666666;
	}
}
